# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv/
venv/
env/
*.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# Byte-compiled / compiled files
*.pyo
*.pyd
*.pyc
*.pdb

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# Docker
*.pid
*.tar
docker-compose.override.yml

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Environment
.env*
.envrc

# Node (if any frontend builds)
node_modules/
